<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<title>JS鼠标悬停滑动效果导航条 - 站长素材</title>

<link rel="stylesheet" href="/css/sNav.css"/>
<script src="/js/sNav.min.js"></script>

</head>
<body>
<div id="" class="body_div">
	<!-- 顶部标志 -->
	<div>
		<h1>log</h1>
	</div>
	
	<!-- 导航栏 -->
	<div>
		<ul class="sNav">
			<a href="#"><li style="background-color:#CDCDB4">首页</li></a>
			<a href="#"><li>所有文章</li></a>
			<a href="#"><li>资讯</li></a>
			<a href="#"><li>web</li></a>
			<a href="#"><li>架构</li></a>
			<a href="#"><li>基础技术</li></a>
			<a href="#"><li>书籍</li></a>
			<a href="#"><li>教程</li></a>
			<a href="#"><li>工具资源</li></a>
		</ul>
	</div>
	
	<!--正文内容 -->
	<div>
		正文
	</div>
	
	<!-- 下脚 -->
	<div>
		下脚
	</div>
</div>

<!-- js -->
<script>
	var sNav1=new sNav('sNav');
</script>
</body>
</html>